body {
font-family: 'Segoe UI', sans-serif;
margin:0;
background:#0e1c2b;
color:#f8f9fa;
}

header {
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 30px;
background:#142536;
}

nav a {
color:#38bdf8;
margin-right:20px;
text-decoration:none;
font-weight:bold;
}

.hero, h1 {
text-align:center;
margin-top:40px;
}

button {
background:#38bdf8;
color:#000;
border:none;
padding:10px 20px;
cursor:pointer;
border-radius:5px;
transition:0.3s;
}
button:hover {
background:#0ea5e9;
}
input {
padding:10px;
border-radius:5px;
border:none;
margin-top:10px;
width:80%;
max-width:400px;
}
